@tailwind base;
@tailwind components;
@tailwind utilities;

/**********FONTS***********/
@font-face {
  font-family: 'FormulaCondensedBold';
  src: url('/fonts/FormulaCondensed-Bold.otf'),
}

@font-face {
  font-family: 'FormulaCondensedLight';
  src: url('/fonts/FormulaCondensed-Light.otf'),
}

@font-face {
  font-family: 'DepartureMono';
  src: url('/fonts/DepartureMono-Regular.woff'),
       url('/fonts/DepartureMono-Regular.woff2'),
}

@font-face {
  font-family: 'InclusiveSans';
  src: url('/fonts/InclusiveSans-Regular.woff2'),
}

@font-face {
  font-family: 'InclusiveItalic';
  src: url('/fonts/InclusiveSans-Italic.woff2'),
}

body {
  font-family: InclusiveSans, Arial, Helvetica, sans-serif;
  @apply tracking-widest min-h-screen;
}

main {
  @apply flex-1 flex box-border p-2 md:p-4 lg:p-8;
}

.main-div {
  @apply flex-1 flex flex-col;
}

/*****************CONTAINERS************************/

.container-v{
  @apply flex flex-row flex-1 h-full w-full;
}

.container-h{
  @apply flex flex-col flex-1 h-full w-full;
}

.container-md {
  @apply flex w-full md:h-[100vh] lg:h-[60vh] h-[150vh] mb-8 lg:mb-10;
}

.container-sm {
  @apply md:h-[25vh] lg:h-[30vh] h-[20vh] mb-6 lg:mb-10;
}

.content-v{
  @apply flex flex-col flex-1 h-full w-full
}

.content-h{
  @apply flex flex-row flex-1 h-full w-full
}

.cl-rootBox{
  @apply basis-3/4 h-full w-5/6 md:w-1/2 lg:w-3/5 flex justify-center items-center
}

.cl-cardBox{
  @apply flex-1 flex w-full h-full
}

.cl-card{
  @apply flex basis-3/4
}

.cl-footer{
  @apply flex basis-1/4
}

/*****************STATS***************************/

.stats-grid {
  @apply flex-1 flex flex-col md:grid md:grid-cols-2 lg:grid lg:grid-cols-4 gap-4;
}

.stats-card {
  @apply rounded-xl bg-primary relative box-border p-6 basis-1/6 flex flex-col-reverse justify-start items-start transition transform duration-300 ease-in-out hover:scale-105;
}

.stats-card-md {
  @apply rounded-xl bg-primary relative box-border p-6 basis-1/6 lg:row-span-2 flex flex-col-reverse justify-start items-start transition transform duration-300 ease-in-out hover:scale-105;
}

.stats-card-lg {
  @apply rounded-xl bg-primary-900 relative box-border p-6 basis-1/2 md:row-span-2 lg:row-span-3 justify-center items-center flex transition transform duration-300 ease-in-out hover:scale-105;
}

.stats-card-long {
  @apply rounded-xl bg-primary relative box-border p-6 basis-1/6 lg:col-span-2 flex flex-col-reverse justify-start items-start transition transform duration-300 ease-in-out hover:scale-105;
}

.stats-card-profile {
  @apply rounded-xl bg-primary-900 box-border p-6 basis-1/3 md:row-span-3 md:flex-col lg:row-span-2 lg:flex-col flex flex-row justify-center items-center transition transform duration-300 ease-in-out hover:scale-105;
}

.stats-icon {
  @apply absolute top-3 right-4 text-5xl;
}

/*****************************FONTS*****************************/

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl md:text-4xl lg:text-4xl;
}

h3 {
  @apply text-lg md:text-xl lg:text-2xl;
}

.container-sm {
  @apply md:h-[25vh] lg:h-[30vh] h-[20vh] mb-6 lg:mb-10; */
/* } */

/* .content-v{
  @apply flex flex-col flex-1 h-full w-full;
}

.content-h{
  @apply flex flex-row flex-1 h-full w-full;
} */

/* .cl-rootBox{
  @apply basis-3/4 h-full w-5/6 md:w-1/2 lg:w-3/5 flex justify-center items-center;
}

.cl-cardBox{
  @apply flex-1 flex w-full h-full;
}

.cl-card{
  @apply flex basis-3/4;
}

.cl-footer{
  @apply flex basis-1/4;
} */

/*****************STATS***************************/

/* .stats-grid {
  @apply flex-1 flex flex-col md:grid md:grid-cols-2 lg:grid lg:grid-cols-4 gap-4;
}

.stats-card {
  @apply rounded-xl bg-primary relative box-border p-6 basis-1/6 flex flex-col-reverse justify-start items-start transition transform duration-300 ease-in-out hover:scale-105;
}

.stats-card-md {
  @apply rounded-xl bg-primary relative box-border p-6 basis-1/6 lg:row-span-2 flex flex-col-reverse justify-start items-start transition transform duration-300 ease-in-out hover:scale-105;
}

.stats-card-lg {
  @apply rounded-xl bg-primary-900 relative box-border p-6 basis-1/2 md:row-span-2 lg:row-span-3 justify-center items-center flex transition transform duration-300 ease-in-out hover:scale-105;
}

.stats-card-long {
  @apply rounded-xl bg-primary relative box-border p-6 basis-1/6 lg:col-span-2 flex flex-col-reverse justify-start items-start transition transform duration-300 ease-in-out hover:scale-105;
}

.stats-card-profile {
  @apply rounded-xl bg-primary-900 box-border p-6 basis-1/3 md:row-span-3 md:flex-col lg:row-span-2 lg:flex-col flex flex-row justify-center items-center transition transform duration-300 ease-in-out hover:scale-105;
}

.stats-icon {
  @apply absolute top-3 right-4 text-5xl;
} */

/*****************************FONTS*****************************/

/* h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl md:text-4xl lg:text-4xl;
}

h3 {
  @apply text-lg md:text-xl lg:text-2xl;
} */
