@tailwind base;
@tailwind components;
@tailwind utilities;

/**********FONTS***********/
@font-face {
  font-family: 'FormulaCondensedBold';
  src: url('../app/fonts/FormulaCondensed-Bold.otf'),
}

@font-face {
  font-family: 'FormulaCondensedLight';
  src: url('../app/fonts/FormulaCondensed-Light.otf'),
}

@font-face {
  font-family: 'DepartureMono';
  src: url('../app/fonts/DepartureMono-Regular.woff'),
       url('../app/fonts/DepartureMono-Regular.woff2'),
}

@font-face {
  font-family: 'InclusiveSans';
  src: url('../app/fonts/InclusiveSans-Regular.woff2'),
}

@font-face {
  font-family: 'InclusiveItalic';
  src: url('../app/fonts/InclusiveSans-Italic.woff2'),
}

body{
  font-family: InclusiveSans, Arial, Helvetica, sans-serif;
  @apply tracking-widest p-8;
}

.main-div{
  @apply flex flex-col gap-10 text-2xl justify-center items-center;
}


